.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #212529;
}

label {
  float: left;
  margin: 0.5rem 0;
}

/* footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
} */
